<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <p class="m-0 text-dark text-center "><a href="#">Об авторе</a> - <a href="#">Технологии</a>
        - <a href="#">Контакты</a></p>
    <p class="m-0 text-dark text-center "><span style="color:red">Catalog</span>News ©, все
        права защищены.</p>
</footer>
