<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/"><span style="color:red">Catalog</span>News</a>
    <nav class="my-2 my-md-0 mr-md-3">

            Пользователь:
            <a class="p-2 text-dark" href="{% url 'new_article' %}">Новая запись</a>
            <a class="p-2 text-dark" href="{% url 'password_change' %}">Изменить пароль</a>
            <a class="p-2 text-dark" href="{% url 'logout' %}">Выйти</a>
            <a class="p-2 text-dark" href="{% url 'login' %}">Войти</a> |
            <a class="p-2 text-dark" href="{% url 'signup' %}">Регистрация</a>

    </nav>
</nav>
