{% extends 'base.html' %}
{% block title %}Просмотр новости{% endblock %}
{% block header %}Просмотр новости{% endblock %}
{% block content %}

    <main role="main" class="container">
        {% for article in article_list %}
            <div class="card-body">
                <p class="card-text">
                    <a href="#"> {{ article.title }} </a>
                </p>
            </div>
        {% endfor %}
    </main>
{% endblock %}
