{% extends "base.html" %}
{% block title %}Все авторы{% endblock %}
{% block header %}Все авторы{% endblock %}

{% block content %}
    <div class="container">
        <h1> Все авторы </h1>

        {% for author in author_list %}
            <div class="card-body">
                <p class="card-text">
                    <a href=""> {{ author.author_first_name }} </a>
                    <a href=""> {{ author.author_last_name }} </a>
                </p>
            </div>
        {% endfor %}

    </div>
{% endblock content %}
