{% extends "base.html" %}
{% block title %}Каталог статей{% endblock %}
{% block header %}Каталог статей{% endblock %}

{% block content %}
    <div class="container">
        <h1> Каталог статей </h1>
        <div class="card-body">
            <p class="card-text">
                <a href="{% url 'author_all' %}"> Все авторы </a>
            </p>
        </div>
        <div class="card-body">
            <p class="card-text">
                <a href="{% url 'article' %}"> Все статьи </a>
            </p>
        </div>
    </div>
{% endblock %}
