{% extends 'base.html' %}
{% block title %}
    Добавить новость
{% endblock %}

{% block content %}
    {% load user_filters %}
    <div class="row justify-content-center">
        <div class="col-md-8 p-5">
            <div class="card">

                <div class="card-header">Добавить новость</div>

                <div class="card-body">

                    {% if form.errors %}

                        {% for error in form.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error|escape }}
                            </div>
                        {% endfor %}

                    {% endif %}

                    <form method="post" enctype="multipart/form-data" action="{% url 'new_article' %}">

                        {% csrf_token %}

                        {% for field in form %}
                            <div class="form-group row" aria-required={% if field.field.required %}"true"{% else %}"false"
                            {% endif %}>

                            <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">
                                {{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}
                            </label>

                            <div class="col-md-6">
                                {{ field|addclass:'form-control' }}

                                {% if field.help_text %}
                                    <small id="{{ field.id_for_label }}-help"
                                           class="form-text text-muted">{{ field.help_text|safe }}</small>
                                {% endif %}

                            </div>
                        {% endfor %}

                        <div class="col-md-6 offset-md-4">
                            <input type="submit" , value="Добавить">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}